.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
docs
inst/doc

# tests fixtures
tests/fixtures/aws_db_rds_create.yml
tests/fixtures/aws_db_redshift_create.yml
tests/fixtures/aws_secret*.yml
tests/fixtures/aws_bucket_add_user.yml
tests/fixtures/aws_bucket_add_user_setup_bucket.yml
tests/fixtures/aws_bucket_add_user_setup_user.yml
tests/fixtures/aws_bucket_get_permissions.yml
tests/fixtures/aws_bucket_get_permissions_setup_bucket.yml
tests/fixtures/aws_bucket_get_permissions_setup_users.yml
tests/fixtures/aws_bucket_permissions.yml
tests/fixtures/aws_bucket_permissions_setup_bucket.yml
tests/fixtures/aws_bucket_permissions_setup_users.yml
tests/fixtures/aws_bucket_remove_user.yml
tests/fixtures/aws_bucket_remove_user_setup_add_user.yml
tests/fixtures/aws_bucket_remove_user_setup_bucket.yml
tests/fixtures/aws_bucket_remove_user_setup_user.yml
tests/fixtures/aws_policy_attach_setup_users.yml
tests/fixtures/aws_policy_detach_setup_attach.yml
tests/fixtures/aws_policy_detach_setup_user.yml
tests/fixtures/aws_policy_list_entities_empty.yml
tests/fixtures/aws_policy_list_entities_non_empty.yml

# minio
start/
