http_interactions:
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=ListUsers&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240109T235436Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: bbd3946a-2652-4588-90d2-ea3d7e9fce25
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <ListUsersResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListUsersResult>
            <IsTruncated>false</IsTruncated>
            <Users>
              <member>
                <Path>/</Path>
                <UserName>amy</UserName>
                <Arn>arn:aws:iam::744061095407:user/amy</Arn>
                <UserId>AIDA22PL7JXXVQGMKM6YI</UserId>
                <CreateDate>2023-12-18T18:08:31Z</CreateDate>
              </member>
              <member>
                <Path>/</Path>
                <UserName>jeff</UserName>
                <Arn>arn:aws:iam::744061095407:user/jeff</Arn>
                <UserId>AIDA22PL7JXX47R2M2VV5</UserId>
                <CreateDate>2023-12-13T19:15:53Z</CreateDate>
              </member>
              <member>
                <Path>/</Path>
                <PasswordLastUsed>2024-01-09T23:05:09Z</PasswordLastUsed>
                <UserName>scott</UserName>
                <Arn>arn:aws:iam::744061095407:user/scott</Arn>
                <UserId>AIDA22PL7JXXTBKY6TYQA</UserId>
                <CreateDate>2023-12-13T19:29:24Z</CreateDate>
              </member>
              <member>
                <Path>/</Path>
                <PasswordLastUsed>2023-12-18T18:01:40Z</PasswordLastUsed>
                <UserName>sean</UserName>
                <Arn>arn:aws:iam::744061095407:user/sean</Arn>
                <UserId>AIDA22PL7JXXZAVRX4W2R</UserId>
                <CreateDate>2023-12-13T18:51:47Z</CreateDate>
              </member>
            </Users>
          </ListUsersResult>
          <ResponseMetadata>
            <RequestId>bbd3946a-2652-4588-90d2-ea3d7e9fce25</RequestId>
          </ResponseMetadata>
        </ListUsersResponse>
  recorded_at: 2024-01-09 23:54:37 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=GetUser&UserName=amy&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240109T235436Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: 7e8e57b2-2a03-48d1-be51-1f0788eed1fb
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <GetUserResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <GetUserResult>
            <User>
              <Path>/</Path>
              <UserName>amy</UserName>
              <Arn>arn:aws:iam::744061095407:user/amy</Arn>
              <UserId>AIDA22PL7JXXVQGMKM6YI</UserId>
              <CreateDate>2023-12-18T18:08:31Z</CreateDate>
              <Tags>
                <member>
                  <Value>Value1</Value>
                  <Key>Key1</Key>
                </member>
                <member>
                  <Value>Value2</Value>
                  <Key>Key2</Key>
                </member>
              </Tags>
            </User>
          </GetUserResult>
          <ResponseMetadata>
            <RequestId>7e8e57b2-2a03-48d1-be51-1f0788eed1fb</RequestId>
          </ResponseMetadata>
        </GetUserResponse>
  recorded_at: 2024-01-09 23:54:37 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
[...]
