http_interactions:
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=GetPolicy&PolicyArn=arn%3Aaws%3Aiam%3A%3Aaws%3Apolicy%2FReadOnlyAccess&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20231206T212912Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: 57611667-747b-4a33-94eb-df7025d994d0
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <GetPolicyResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <GetPolicyResult>
            <Policy>
              <PermissionsBoundaryUsageCount>0</PermissionsBoundaryUsageCount>
              <Path>/</Path>
              <UpdateDate>2023-12-01T17:23:47Z</UpdateDate>
              <DefaultVersionId>v108</DefaultVersionId>
              <PolicyId>ANPAILL3HVNFSB6DCOWYQ</PolicyId>
              <IsAttachable>true</IsAttachable>
              <PolicyName>ReadOnlyAccess</PolicyName>
              <Description>Provides read-only access to AWS services and resources.</Description>
              <AttachmentCount>0</AttachmentCount>
              <Arn>arn:aws:iam::aws:policy/ReadOnlyAccess</Arn>
              <CreateDate>2015-02-06T18:39:48Z</CreateDate>
              <Tags/>
            </Policy>
          </GetPolicyResult>
          <ResponseMetadata>
            <RequestId>57611667-747b-4a33-94eb-df7025d994d0</RequestId>
          </ResponseMetadata>
        </GetPolicyResponse>
  recorded_at: 2023-12-06 21:29:12 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
