http_interactions:
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=GetUser&UserName=useratfwdqpi&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240321T173526Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: 9340eac4-55a8-45e9-b1df-06a8025b27bc
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <GetUserResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <GetUserResult>
            <User>
              <Path>/</Path>
              <UserName>useratfwdqpi</UserName>
              <Arn>arn:aws:iam::744061095407:user/useratfwdqpi</Arn>
              <UserId>AIDA22PL7JXXUFMF3XOSY</UserId>
              <CreateDate>2024-03-21T17:35:26Z</CreateDate>
            </User>
          </GetUserResult>
          <ResponseMetadata>
            <RequestId>9340eac4-55a8-45e9-b1df-06a8025b27bc</RequestId>
          </ResponseMetadata>
        </GetUserResponse>
  recorded_at: 2024-03-21 17:35:28 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=ListUserPolicies&UserName=useratfwdqpi&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240321T173527Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: aba972eb-5427-406c-bb66-e3a70943b592
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <ListUserPoliciesResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListUserPoliciesResult>
            <IsTruncated>false</IsTruncated>
            <PolicyNames/>
          </ListUserPoliciesResult>
          <ResponseMetadata>
            <RequestId>aba972eb-5427-406c-bb66-e3a70943b592</RequestId>
          </ResponseMetadata>
        </ListUserPoliciesResponse>
  recorded_at: 2024-03-21 17:35:28 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=ListAttachedUserPolicies&UserName=useratfwdqpi&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240321T173527Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: 4e47f08d-4ba3-4ed2-aa4d-075abc712955
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <ListAttachedUserPoliciesResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListAttachedUserPoliciesResult>
            <IsTruncated>false</IsTruncated>
            <AttachedPolicies/>
          </ListAttachedUserPoliciesResult>
          <ResponseMetadata>
            <RequestId>4e47f08d-4ba3-4ed2-aa4d-075abc712955</RequestId>
          </ResponseMetadata>
        </ListAttachedUserPoliciesResponse>
  recorded_at: 2024-03-21 17:35:28 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=ListGroupsForUser&UserName=useratfwdqpi&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240321T173527Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: d7d9c044-cb88-4273-b962-a299dc02b947
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <ListGroupsForUserResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListGroupsForUserResult>
            <IsTruncated>false</IsTruncated>
            <Groups/>
          </ListGroupsForUserResult>
          <ResponseMetadata>
            <RequestId>d7d9c044-cb88-4273-b962-a299dc02b947</RequestId>
          </ResponseMetadata>
        </ListGroupsForUserResponse>
  recorded_at: 2024-03-21 17:35:28 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
[...]
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=GetPolicy&PolicyArn=arn%3Aaws%3Aiam%3A%3A744061095407%3Apolicy%2FAWSCloudHSMReadOnlyAccess&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240321T173528Z
      Authorization: redacted
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      x-amzn-requestid: 9cabbfad-4b01-441e-8ae6-5903ed41c5e0
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <ErrorResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <Error>
            <Type>Sender</Type>
            <Code>NoSuchEntity</Code>
            <Message>Policy arn:aws:iam::744061095407:policy/AWSCloudHSMReadOnlyAccess was not found.</Message>
          </Error>
          <RequestId>9cabbfad-4b01-441e-8ae6-5903ed41c5e0</RequestId>
        </ErrorResponse>
  recorded_at: 2024-03-21 17:35:28 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=GetPolicy&PolicyArn=arn%3Aaws%3Aiam%3A%3Aaws%3Apolicy%2FAWSCloudHSMReadOnlyAccess&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240321T173528Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: cecc1408-f6d9-4627-b66a-ab875dfadaf6
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <GetPolicyResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <GetPolicyResult>
            <Policy>
              <PermissionsBoundaryUsageCount>0</PermissionsBoundaryUsageCount>
              <Path>/</Path>
              <UpdateDate>2015-02-06T18:39:52Z</UpdateDate>
              <DefaultVersionId>v1</DefaultVersionId>
              <PolicyId>ANPAISVCBSY7YDBOT67KE</PolicyId>
              <IsAttachable>true</IsAttachable>
              <PolicyName>AWSCloudHSMReadOnlyAccess</PolicyName>
              <Description>Provides read only access to all CloudHSM resources.</Description>
              <AttachmentCount>1</AttachmentCount>
              <Arn>arn:aws:iam::aws:policy/AWSCloudHSMReadOnlyAccess</Arn>
              <Tags/>
              <CreateDate>2015-02-06T18:39:52Z</CreateDate>
            </Policy>
          </GetPolicyResult>
          <ResponseMetadata>
            <RequestId>cecc1408-f6d9-4627-b66a-ab875dfadaf6</RequestId>
          </ResponseMetadata>
        </GetPolicyResponse>
  recorded_at: 2024-03-21 17:35:28 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=AttachUserPolicy&PolicyArn=arn%3Aaws%3Aiam%3A%3Aaws%3Apolicy%2FAWSCloudHSMReadOnlyAccess&UserName=useratfwdqpi&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240321T173528Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: 65fc2288-769b-497a-9426-6f578f5f7489
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <AttachUserPolicyResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ResponseMetadata>
            <RequestId>65fc2288-769b-497a-9426-6f578f5f7489</RequestId>
          </ResponseMetadata>
        </AttachUserPolicyResponse>
  recorded_at: 2024-03-21 17:35:28 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
[...]
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=ListAttachedUserPolicies&UserName=useratfwdqpi&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240321T173528Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: accb1de4-f404-4d86-83d4-0be97f119a5c
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <ListAttachedUserPoliciesResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListAttachedUserPoliciesResult>
            <IsTruncated>false</IsTruncated>
            <AttachedPolicies>
              <member>
                <PolicyArn>arn:aws:iam::aws:policy/AWSCloudHSMReadOnlyAccess</PolicyArn>
                <PolicyName>AWSCloudHSMReadOnlyAccess</PolicyName>
              </member>
            </AttachedPolicies>
          </ListAttachedUserPoliciesResult>
          <ResponseMetadata>
            <RequestId>accb1de4-f404-4d86-83d4-0be97f119a5c</RequestId>
          </ResponseMetadata>
        </ListAttachedUserPoliciesResponse>
  recorded_at: 2024-03-21 17:35:28 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
[...]
