http_interactions:
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=GetUser&UserName=userbnwaqdif&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240403T145651Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: 7b1971e2-c912-40ca-ae1d-777cc68def1e
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <GetUserResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <GetUserResult>
            <User>
              <Path>/</Path>
              <UserName>userbnwaqdif</UserName>
              <Arn>arn:aws:iam::744061095407:user/userbnwaqdif</Arn>
              <UserId>AIDA22PL7JXX4F4DJYSWQ</UserId>
              <CreateDate>2024-04-03T14:56:49Z</CreateDate>
            </User>
          </GetUserResult>
          <ResponseMetadata>
            <RequestId>7b1971e2-c912-40ca-ae1d-777cc68def1e</RequestId>
          </ResponseMetadata>
        </GetUserResponse>
  recorded_at: 2024-04-03 14:56:53 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=ListUserPolicies&UserName=userbnwaqdif&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240403T145651Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: 92223a34-9b9f-41c4-86eb-7a3a1bc2290e
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <ListUserPoliciesResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListUserPoliciesResult>
            <IsTruncated>false</IsTruncated>
            <PolicyNames/>
          </ListUserPoliciesResult>
          <ResponseMetadata>
            <RequestId>92223a34-9b9f-41c4-86eb-7a3a1bc2290e</RequestId>
          </ResponseMetadata>
        </ListUserPoliciesResponse>
  recorded_at: 2024-04-03 14:56:53 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=ListAttachedUserPolicies&UserName=userbnwaqdif&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240403T145651Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: b605b78d-c8ec-479c-b22f-6440c81d73cc
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <ListAttachedUserPoliciesResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListAttachedUserPoliciesResult>
            <IsTruncated>false</IsTruncated>
            <AttachedPolicies>
              <member>
                <PolicyArn>arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess</PolicyArn>
                <PolicyName>AmazonS3ReadOnlyAccess</PolicyName>
              </member>
            </AttachedPolicies>
          </ListAttachedUserPoliciesResult>
          <ResponseMetadata>
            <RequestId>b605b78d-c8ec-479c-b22f-6440c81d73cc</RequestId>
          </ResponseMetadata>
        </ListAttachedUserPoliciesResponse>
  recorded_at: 2024-04-03 14:56:53 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=ListGroupsForUser&UserName=userbnwaqdif&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240403T145651Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: cad290fd-ea67-4081-8833-fec5b3321976
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <ListGroupsForUserResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListGroupsForUserResult>
            <IsTruncated>false</IsTruncated>
            <Groups/>
          </ListGroupsForUserResult>
          <ResponseMetadata>
            <RequestId>cad290fd-ea67-4081-8833-fec5b3321976</RequestId>
          </ResponseMetadata>
        </ListGroupsForUserResponse>
  recorded_at: 2024-04-03 14:56:53 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
[...]
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=GetPolicy&PolicyArn=arn%3Aaws%3Aiam%3A%3A744061095407%3Apolicy%2FAmazonS3ReadOnlyAccess&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240403T145652Z
      Authorization: redacted
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      x-amzn-requestid: 7ed02699-fd3f-4696-869e-b068a4616492
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <ErrorResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <Error>
            <Type>Sender</Type>
            <Code>NoSuchEntity</Code>
            <Message>Policy arn:aws:iam::744061095407:policy/AmazonS3ReadOnlyAccess was not found.</Message>
          </Error>
          <RequestId>7ed02699-fd3f-4696-869e-b068a4616492</RequestId>
        </ErrorResponse>
  recorded_at: 2024-04-03 14:56:53 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=GetPolicy&PolicyArn=arn%3Aaws%3Aiam%3A%3Aaws%3Apolicy%2FAmazonS3ReadOnlyAccess&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240403T145652Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: 9c8c6d9f-136e-4043-8c1e-09554b3bf1dd
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <GetPolicyResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <GetPolicyResult>
            <Policy>
              <PermissionsBoundaryUsageCount>0</PermissionsBoundaryUsageCount>
              <Path>/</Path>
              <UpdateDate>2023-08-10T21:31:39Z</UpdateDate>
              <PolicyId>ANPAIZTJ4DXE7G6AGAE6M</PolicyId>
              <DefaultVersionId>v3</DefaultVersionId>
              <IsAttachable>true</IsAttachable>
              <PolicyName>AmazonS3ReadOnlyAccess</PolicyName>
              <Description>Provides read only access to all buckets via the AWS Management Console.</Description>
              <AttachmentCount>3</AttachmentCount>
              <Arn>arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess</Arn>
              <Tags/>
              <CreateDate>2015-02-06T18:40:59Z</CreateDate>
            </Policy>
          </GetPolicyResult>
          <ResponseMetadata>
            <RequestId>9c8c6d9f-136e-4043-8c1e-09554b3bf1dd</RequestId>
          </ResponseMetadata>
        </GetPolicyResponse>
  recorded_at: 2024-04-03 14:56:53 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=DetachUserPolicy&PolicyArn=arn%3Aaws%3Aiam%3A%3Aaws%3Apolicy%2FAmazonS3ReadOnlyAccess&UserName=userbnwaqdif&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240403T145652Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: aed6ee6f-de06-4245-b5ba-27613f27d70f
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <DetachUserPolicyResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ResponseMetadata>
            <RequestId>aed6ee6f-de06-4245-b5ba-27613f27d70f</RequestId>
          </ResponseMetadata>
        </DetachUserPolicyResponse>
  recorded_at: 2024-04-03 14:56:53 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
[...]
