http_interactions:
- request:
    method: post
    uri: https://rds.<<aws_region>>.amazonaws.com/
    body:
      encoding: ''
      string: Action=CreateDBInstance&AllocatedStorage=20&DBInstanceClass=db.t3.micro&DBInstanceIdentifier=xxxxxx&DBName=xxxxx&Engine=mariadb&MasterUserPassword=xxxx&MasterUsername=xxxxxx&StorageEncrypted=true&Version=2014-10-31&VpcSecurityGroupIds.VpcSecurityGroupId.1=sg-0e48eebcf03cb88fa
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240112T210858Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: d3abb957-dbcf-4d94-b2cb-831f16bc55fb
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: <CreateDBInstanceResponse xmlns="http://rds.amazonaws.com/doc/2014-10-31/"><CreateDBInstanceResult><DBInstance><AllocatedStorage>20</AllocatedStorage><AssociatedRoles/><DBParameterGroups><DBParameterGroup><DBParameterGroupName>default.mariadb10.6</DBParameterGroupName><ParameterApplyStatus>in-sync</ParameterApplyStatus></DBParameterGroup></DBParameterGroups><DBSecurityGroups/><EngineVersion>10.6.14</EngineVersion><MasterUsername>xxxxxx</MasterUsername><CertificateDetails><CAIdentifier>xxx</CAIdentifier></CertificateDetails><DBInstanceClass>db.t3.micro</DBInstanceClass><StorageThroughput>0</StorageThroughput><HttpEndpointEnabled>false</HttpEndpointEnabled><ReadReplicaDBInstanceIdentifiers/><CustomerOwnedIpEnabled>false</CustomerOwnedIpEnabled><MonitoringInterval>0</MonitoringInterval><DBInstanceStatus>creating</DBInstanceStatus><BackupRetentionPeriod>1</BackupRetentionPeriod><KmsKeyId>arn:aws:kms:<<aws_region>>:744061095407:key/760bf2ac-8827-433e-acf0-4b552d79fc0e</KmsKeyId><OptionGroupMemberships><OptionGroupMembership><OptionGroupName>default:mariadb-10-6</OptionGroupName><Status>in-sync</Status></OptionGroupMembership></OptionGroupMemberships><DedicatedLogVolume>false</DedicatedLogVolume><BackupTarget>region</BackupTarget><CACertificateIdentifier>xxx</CACertificateIdentifier><DbInstancePort>0</DbInstancePort><DbiResourceId>db-LDEB7WUTQ4TCPLVMSJYFHO2JHU</DbiResourceId><PreferredBackupWindow>09:44-10:14</PreferredBackupWindow><DeletionProtection>false</DeletionProtection><DBInstanceArn>arn:aws:rds:<<aws_region>>:744061095407:db:xxxxxx</DBInstanceArn><DBInstanceIdentifier>xxxxxx</DBInstanceIdentifier><Engine>mariadb</Engine><PubliclyAccessible>true</PubliclyAccessible><IAMDatabaseAuthenticationEnabled>false</IAMDatabaseAuthenticationEnabled><NetworkType>IPV4</NetworkType><PerformanceInsightsEnabled>false</PerformanceInsightsEnabled><DBName>xxxxx</DBName><MultiAZ>false</MultiAZ><DomainMemberships/><StorageEncrypted>true</StorageEncrypted><DBSubnetGroup><VpcId>vpc-0e5be60895b3f4ecb</VpcId><Subnets><Subnet><SubnetIdentifier>subnet-0130e9da2b710d93e</SubnetIdentifier><SubnetStatus>Active</SubnetStatus><SubnetOutpost/><SubnetAvailabilityZone><Name><<aws_region>>d</Name></SubnetAvailabilityZone></Subnet><Subnet><SubnetIdentifier>subnet-0cb7fc32b2ee6f854</SubnetIdentifier><SubnetStatus>Active</SubnetStatus><SubnetOutpost/><SubnetAvailabilityZone><Name><<aws_region>>c</Name></SubnetAvailabilityZone></Subnet><Subnet><SubnetIdentifier>subnet-03fd7f44bd2d67abf</SubnetIdentifier><SubnetStatus>Active</SubnetStatus><SubnetOutpost/><SubnetAvailabilityZone><Name><<aws_region>>a</Name></SubnetAvailabilityZone></Subnet><Subnet><SubnetIdentifier>subnet-08f773156ffb2009a</SubnetIdentifier><SubnetStatus>Active</SubnetStatus><SubnetOutpost/><SubnetAvailabilityZone><Name><<aws_region>>b</Name></SubnetAvailabilityZone></Subnet></Subnets><SubnetGroupStatus>Complete</SubnetGroupStatus><DBSubnetGroupDescription>default</DBSubnetGroupDescription><DBSubnetGroupName>default</DBSubnetGroupName></DBSubnetGroup><VpcSecurityGroups><VpcSecurityGroupMembership><VpcSecurityGroupId>sg-0e48eebcf03cb88fa</VpcSecurityGroupId><Status>active</Status></VpcSecurityGroupMembership></VpcSecurityGroups><TagList/><LicenseModel>general-public-license</LicenseModel><PendingModifiedValues><MasterUserPassword>****</MasterUserPassword></PendingModifiedValues><PreferredMaintenanceWindow>sat:07:39-sat:08:09</PreferredMaintenanceWindow><StorageType>gp2</StorageType><AutoMinorVersionUpgrade>true</AutoMinorVersionUpgrade><CopyTagsToSnapshot>false</CopyTagsToSnapshot></DBInstance></CreateDBInstanceResult><ResponseMetadata><RequestId>d3abb957-dbcf-4d94-b2cb-831f16bc55fb</RequestId></ResponseMetadata></CreateDBInstanceResponse>
  recorded_at: 2024-01-12 21:08:59 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
- request:
    method: post
    uri: https://rds.<<aws_region>>.amazonaws.com/
    body:
      encoding: ''
      string: Action=DescribeDBInstances&Version=2014-10-31
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240112T210859Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: xxxx
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: <DescribeDBInstancesResponse xmlns="http://rds.amazonaws.com/doc/2014-10-31/"><DescribeDBInstancesResult><DBInstances><DBInstance><AllocatedStorage>20</AllocatedStorage><AssociatedRoles/><DBParameterGroups><DBParameterGroup><DBParameterGroupName>default.mariadb10.6</DBParameterGroupName><ParameterApplyStatus>in-sync</ParameterApplyStatus></DBParameterGroup></DBParameterGroups><DBSecurityGroups/><IsStorageConfigUpgradeAvailable>false</IsStorageConfigUpgradeAvailable><EngineVersion>10.6.14</EngineVersion><MasterUsername>xxxxxx</MasterUsername><CertificateDetails><CAIdentifier>xxx</CAIdentifier></CertificateDetails><DBInstanceClass>db.t3.micro</DBInstanceClass><StorageThroughput>0</StorageThroughput><HttpEndpointEnabled>false</HttpEndpointEnabled><ReadReplicaDBInstanceIdentifiers/><CustomerOwnedIpEnabled>false</CustomerOwnedIpEnabled><MonitoringInterval>0</MonitoringInterval><DBInstanceStatus>creating</DBInstanceStatus><BackupRetentionPeriod>1</BackupRetentionPeriod><KmsKeyId>arn:aws:kms:<<aws_region>>:744061095407:key/760bf2ac-8827-433e-acf0-4b552d79fc0e</KmsKeyId><OptionGroupMemberships><OptionGroupMembership><OptionGroupName>default:mariadb-10-6</OptionGroupName><Status>in-sync</Status></OptionGroupMembership></OptionGroupMemberships><DedicatedLogVolume>false</DedicatedLogVolume><BackupTarget>region</BackupTarget><CACertificateIdentifier>xxx</CACertificateIdentifier><DbInstancePort>0</DbInstancePort><DbiResourceId>db-LDEB7WUTQ4TCPLVMSJYFHO2JHU</DbiResourceId><PreferredBackupWindow>09:44-10:14</PreferredBackupWindow><DeletionProtection>false</DeletionProtection><DBInstanceArn>arn:aws:rds:<<aws_region>>:744061095407:db:xxxxxx</DBInstanceArn><DBInstanceIdentifier>xxxxxx</DBInstanceIdentifier><Engine>mariadb</Engine><PubliclyAccessible>true</PubliclyAccessible><IAMDatabaseAuthenticationEnabled>false</IAMDatabaseAuthenticationEnabled><NetworkType>IPV4</NetworkType><ActivityStreamStatus>stopped</ActivityStreamStatus><PerformanceInsightsEnabled>false</PerformanceInsightsEnabled><DBName>xxxxx</DBName><MultiAZ>false</MultiAZ><DomainMemberships/><StorageEncrypted>true</StorageEncrypted><DBSubnetGroup><VpcId>vpc-0e5be60895b3f4ecb</VpcId><Subnets><Subnet><SubnetIdentifier>subnet-0130e9da2b710d93e</SubnetIdentifier><SubnetStatus>Active</SubnetStatus><SubnetOutpost/><SubnetAvailabilityZone><Name><<aws_region>>d</Name></SubnetAvailabilityZone></Subnet><Subnet><SubnetIdentifier>subnet-0c[...]
- request:
    method: post
    uri: https://secretsmanager.<<aws_region>>.amazonaws.com/
    body:
      encoding: ''
      string: '{"Name":"xxxx","zzz":"xxxx","SecretString":"{\"engine\":\"mariadb\",\"host\":{},\"username\":\"xxxxxx\",\"password\":\"xxxx\",\"dbname\":\"xxxxx\",\"port\":{}}"}'
    headers:
      X-Amz-Target: secretsmanager.CreateSecret
      Content-Type: application/x-amz-json-1.1
      X-Amz-Date: 20240112T210859Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: 809ee892-fa87-4e0b-9387-2a5462522d8b
      content-type: application/x-amz-json-1.1
    body:
      encoding: ''
      file: no
      string: '{"ARN":"arn:aws:secretsmanager:<<aws_region>>:744061095407:secret:xxx","Name":"xxx","VersionId":"xxxx"}'
  recorded_at: 2024-01-12 21:08:59 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
