http_interactions:
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=GetUser&UserName=userbnwaqdif&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240401T201116Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: c47bdc61-00d2-452f-b87d-072d9e9a4c05
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <GetUserResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <GetUserResult>
            <User>
              <Path>/</Path>
              <UserName>userbnwaqdif</UserName>
              <Arn>arn:aws:iam::744061095407:user/userbnwaqdif</Arn>
              <UserId>AIDA22PL7JXX4ZNZJQ5LH</UserId>
              <CreateDate>2024-04-01T20:11:14Z</CreateDate>
            </User>
          </GetUserResult>
          <ResponseMetadata>
            <RequestId>c47bdc61-00d2-452f-b87d-072d9e9a4c05</RequestId>
          </ResponseMetadata>
        </GetUserResponse>
  recorded_at: 2024-04-01 20:11:18 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=ListUserPolicies&UserName=userbnwaqdif&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240401T201116Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: 794b36dc-69e0-4474-be4f-0a8367c2acc7
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <ListUserPoliciesResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListUserPoliciesResult>
            <IsTruncated>false</IsTruncated>
            <PolicyNames/>
          </ListUserPoliciesResult>
          <ResponseMetadata>
            <RequestId>794b36dc-69e0-4474-be4f-0a8367c2acc7</RequestId>
          </ResponseMetadata>
        </ListUserPoliciesResponse>
  recorded_at: 2024-04-01 20:11:18 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=ListAttachedUserPolicies&UserName=userbnwaqdif&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240401T201116Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: ee9cf164-d49a-4af7-b8af-415cd1a3175c
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <ListAttachedUserPoliciesResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListAttachedUserPoliciesResult>
            <IsTruncated>false</IsTruncated>
            <AttachedPolicies>
              <member>
                <PolicyArn>arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess</PolicyArn>
                <PolicyName>AmazonS3ReadOnlyAccess</PolicyName>
              </member>
            </AttachedPolicies>
          </ListAttachedUserPoliciesResult>
          <ResponseMetadata>
            <RequestId>ee9cf164-d49a-4af7-b8af-415cd1a3175c</RequestId>
          </ResponseMetadata>
        </ListAttachedUserPoliciesResponse>
  recorded_at: 2024-04-01 20:11:18 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=ListGroupsForUser&UserName=userbnwaqdif&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240401T201116Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: d421af40-4a2a-4fad-bb44-9534efcf82de
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <ListGroupsForUserResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListGroupsForUserResult>
            <IsTruncated>false</IsTruncated>
            <Groups/>
          </ListGroupsForUserResult>
          <ResponseMetadata>
            <RequestId>d421af40-4a2a-4fad-bb44-9534efcf82de</RequestId>
          </ResponseMetadata>
        </ListGroupsForUserResponse>
  recorded_at: 2024-04-01 20:11:18 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
[...]
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=GetPolicy&PolicyArn=arn%3Aaws%3Aiam%3A%3A744061095407%3Apolicy%2FAmazonS3ReadOnlyAccess&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240401T201117Z
      Authorization: redacted
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      x-amzn-requestid: 8f40c4aa-d68a-4631-82f8-ef8909f3ba2f
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <ErrorResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <Error>
            <Type>Sender</Type>
            <Code>NoSuchEntity</Code>
            <Message>Policy arn:aws:iam::744061095407:policy/AmazonS3ReadOnlyAccess was not found.</Message>
          </Error>
          <RequestId>8f40c4aa-d68a-4631-82f8-ef8909f3ba2f</RequestId>
        </ErrorResponse>
  recorded_at: 2024-04-01 20:11:18 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=GetPolicy&PolicyArn=arn%3Aaws%3Aiam%3A%3Aaws%3Apolicy%2FAmazonS3ReadOnlyAccess&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240401T201117Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: 28166095-54ac-4415-ab44-0e3c443ebea0
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <GetPolicyResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <GetPolicyResult>
            <Policy>
              <PermissionsBoundaryUsageCount>0</PermissionsBoundaryUsageCount>
              <Path>/</Path>
              <UpdateDate>2023-08-10T21:31:39Z</UpdateDate>
              <DefaultVersionId>v3</DefaultVersionId>
              <PolicyId>ANPAIZTJ4DXE7G6AGAE6M</PolicyId>
              <IsAttachable>true</IsAttachable>
              <PolicyName>AmazonS3ReadOnlyAccess</PolicyName>
              <Description>Provides read only access to all buckets via the AWS Management Console.</Description>
              <AttachmentCount>4</AttachmentCount>
              <Arn>arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess</Arn>
              <Tags/>
              <CreateDate>2015-02-06T18:40:59Z</CreateDate>
            </Policy>
          </GetPolicyResult>
          <ResponseMetadata>
            <RequestId>28166095-54ac-4415-ab44-0e3c443ebea0</RequestId>
          </ResponseMetadata>
        </GetPolicyResponse>
  recorded_at: 2024-04-01 20:11:18 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
[...]
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=DetachUserPolicy&PolicyArn=arn%3Aaws%3Aiam%3A%3Aaws%3Apolicy%2FAmazonS3ReadOnlyAccess&UserName=userbnwaqdif&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240401T201117Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: d2cf2d82-705a-4d1d-92e6-f7cb387162b4
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <DetachUserPolicyResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ResponseMetadata>
            <RequestId>d2cf2d82-705a-4d1d-92e6-f7cb387162b4</RequestId>
          </ResponseMetadata>
        </DetachUserPolicyResponse>
  recorded_at: 2024-04-01 20:11:18 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
[...]
