http_interactions:
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=GetUser&UserName=userbnwaqdif&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240321T173610Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: 2468cc3f-2d09-4728-967f-2ab2329acaae
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <GetUserResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <GetUserResult>
            <User>
              <Path>/</Path>
              <UserName>userbnwaqdif</UserName>
              <Arn>arn:aws:iam::744061095407:user/userbnwaqdif</Arn>
              <UserId>AIDA22PL7JXXSCS2UFXMU</UserId>
              <CreateDate>2024-03-21T17:36:08Z</CreateDate>
            </User>
          </GetUserResult>
          <ResponseMetadata>
            <RequestId>2468cc3f-2d09-4728-967f-2ab2329acaae</RequestId>
          </ResponseMetadata>
        </GetUserResponse>
  recorded_at: 2024-03-21 17:36:12 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=ListUserPolicies&UserName=userbnwaqdif&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240321T173610Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: 66f5cb19-ee2e-47da-ae69-ee340b1772ab
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <ListUserPoliciesResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListUserPoliciesResult>
            <IsTruncated>false</IsTruncated>
            <PolicyNames/>
          </ListUserPoliciesResult>
          <ResponseMetadata>
            <RequestId>66f5cb19-ee2e-47da-ae69-ee340b1772ab</RequestId>
          </ResponseMetadata>
        </ListUserPoliciesResponse>
  recorded_at: 2024-03-21 17:36:12 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=ListAttachedUserPolicies&UserName=userbnwaqdif&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240321T173610Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: 5d224619-dbe7-487a-a265-f2e6ebf5f830
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <ListAttachedUserPoliciesResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListAttachedUserPoliciesResult>
            <IsTruncated>false</IsTruncated>
            <AttachedPolicies>
              <member>
                <PolicyArn>arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess</PolicyArn>
                <PolicyName>AmazonS3ReadOnlyAccess</PolicyName>
              </member>
            </AttachedPolicies>
          </ListAttachedUserPoliciesResult>
          <ResponseMetadata>
            <RequestId>5d224619-dbe7-487a-a265-f2e6ebf5f830</RequestId>
          </ResponseMetadata>
        </ListAttachedUserPoliciesResponse>
  recorded_at: 2024-03-21 17:36:12 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=ListGroupsForUser&UserName=userbnwaqdif&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240321T173610Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: 06a91fb6-f297-41fa-a234-8064cb775086
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <ListGroupsForUserResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListGroupsForUserResult>
            <IsTruncated>false</IsTruncated>
            <Groups/>
          </ListGroupsForUserResult>
          <ResponseMetadata>
            <RequestId>06a91fb6-f297-41fa-a234-8064cb775086</RequestId>
          </ResponseMetadata>
        </ListGroupsForUserResponse>
  recorded_at: 2024-03-21 17:36:12 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
[...]
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=GetPolicy&PolicyArn=arn%3Aaws%3Aiam%3A%3A744061095407%3Apolicy%2FAmazonS3ReadOnlyAccess&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240321T173611Z
      Authorization: redacted
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      x-amzn-requestid: 3b579ba2-3b9e-4e2c-9804-2a2e2c921b97
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <ErrorResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <Error>
            <Type>Sender</Type>
            <Code>NoSuchEntity</Code>
            <Message>Policy arn:aws:iam::744061095407:policy/AmazonS3ReadOnlyAccess was not found.</Message>
          </Error>
          <RequestId>3b579ba2-3b9e-4e2c-9804-2a2e2c921b97</RequestId>
        </ErrorResponse>
  recorded_at: 2024-03-21 17:36:12 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=GetPolicy&PolicyArn=arn%3Aaws%3Aiam%3A%3Aaws%3Apolicy%2FAmazonS3ReadOnlyAccess&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240321T173611Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: ec87b70f-193f-4ae6-8a22-21db5dd889b3
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <GetPolicyResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <GetPolicyResult>
            <Policy>
              <PermissionsBoundaryUsageCount>0</PermissionsBoundaryUsageCount>
              <Path>/</Path>
              <UpdateDate>2023-08-10T21:31:39Z</UpdateDate>
              <DefaultVersionId>v3</DefaultVersionId>
              <PolicyId>ANPAIZTJ4DXE7G6AGAE6M</PolicyId>
              <IsAttachable>true</IsAttachable>
              <PolicyName>AmazonS3ReadOnlyAccess</PolicyName>
              <Description>Provides read only access to all buckets via the AWS Management Console.</Description>
              <AttachmentCount>1</AttachmentCount>
              <Arn>arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess</Arn>
              <Tags/>
              <CreateDate>2015-02-06T18:40:59Z</CreateDate>
            </Policy>
          </GetPolicyResult>
          <ResponseMetadata>
            <RequestId>ec87b70f-193f-4ae6-8a22-21db5dd889b3</RequestId>
          </ResponseMetadata>
        </GetPolicyResponse>
  recorded_at: 2024-03-21 17:36:12 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=DetachUserPolicy&PolicyArn=arn%3Aaws%3Aiam%3A%3Aaws%3Apolicy%2FAmazonS3ReadOnlyAccess&UserName=userbnwaqdif&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240321T173611Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: aaff1d8e-2669-4c2d-a6f9-dc0ed4e9f46d
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <DetachUserPolicyResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ResponseMetadata>
            <RequestId>aaff1d8e-2669-4c2d-a6f9-dc0ed4e9f46d</RequestId>
          </ResponseMetadata>
        </DetachUserPolicyResponse>
  recorded_at: 2024-03-21 17:36:12 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
[...]
