http_interactions:
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=CreatePolicy&PolicyDocument=%7B%22Version%22%3A%222012-10-17%22%2C%22Statement%22%3A%5B%7B%22Effect%22%3A%22Allow%22%2C%22Action%22%3A%22s3%3AListAllMyBuckets%22%2C%22Resource%22%3A%5B%22arn%3Aaws%3Ards-db%3Aus-east-2%3A1234567890%3Adbuser%3Adb-ABCDEFGHIJKL01234%2Fjane_doe%22%2C%22arn%3Aaws%3Ards-db%3Aus-east-2%3A1234567890%3Adbuser%3Adb-ABCDEFGHIJKL01234%2Fmary_roe%22%5D%7D%5D%7D&PolicyName=MyTestPolicy&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240321T162300Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: d571225b-e362-4dda-a59f-15c31ba37b5b
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <CreatePolicyResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <CreatePolicyResult>
            <Policy>
              <PermissionsBoundaryUsageCount>0</PermissionsBoundaryUsageCount>
              <Path>/</Path>
              <UpdateDate>2024-03-21T16:23:00Z</UpdateDate>
              <DefaultVersionId>v1</DefaultVersionId>
              <PolicyId>ANPA22PL7JXXWNPBVWUAM</PolicyId>
              <IsAttachable>true</IsAttachable>
              <PolicyName>MyTestPolicy</PolicyName>
              <AttachmentCount>0</AttachmentCount>
              <Arn>arn:aws:iam::744061095407:policy/MyTestPolicy</Arn>
              <CreateDate>2024-03-21T16:23:00Z</CreateDate>
            </Policy>
          </CreatePolicyResult>
          <ResponseMetadata>
            <RequestId>d571225b-e362-4dda-a59f-15c31ba37b5b</RequestId>
          </ResponseMetadata>
        </CreatePolicyResponse>
  recorded_at: 2024-03-21 16:23:00 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
