http_interactions:
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=GetPolicy&PolicyArn=arn%3Aaws%3Aiam%3A%3Aaws%3Apolicy%2FReadOnlyAccess&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240321T054923Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: f8660526-e15c-41ba-9b06-9dceaf4f5e5f
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <GetPolicyResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <GetPolicyResult>
            <Policy>
              <PermissionsBoundaryUsageCount>0</PermissionsBoundaryUsageCount>
              <Path>/</Path>
              <UpdateDate>2024-02-05T15:00:23Z</UpdateDate>
              <DefaultVersionId>v111</DefaultVersionId>
              <PolicyId>ANPAILL3HVNFSB6DCOWYQ</PolicyId>
              <IsAttachable>true</IsAttachable>
              <PolicyName>ReadOnlyAccess</PolicyName>
              <Description>Provides read-only access to AWS services and resources.</Description>
              <AttachmentCount>0</AttachmentCount>
              <Arn>arn:aws:iam::aws:policy/ReadOnlyAccess</Arn>
              <Tags/>
              <CreateDate>2015-02-06T18:39:48Z</CreateDate>
            </Policy>
          </GetPolicyResult>
          <ResponseMetadata>
            <RequestId>f8660526-e15c-41ba-9b06-9dceaf4f5e5f</RequestId>
          </ResponseMetadata>
        </GetPolicyResponse>
  recorded_at: 2024-03-21 05:49:24 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
[...]
