http_interactions:
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=GetUser&UserName=testUser2&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20231207T000005Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: 254c4f72-3f85-458b-8405-eb96e4480b61
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <GetUserResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <GetUserResult>
            <User>
              <Path>/</Path>
              <UserName>testUser2</UserName>
              <Arn>arn:aws:iam::510628056329:user/testUser2</Arn>
              <UserId>AIDAXNY6NZUEXZFJQI2I2</UserId>
              <CreateDate>2023-08-08T20:27:04Z</CreateDate>
            </User>
          </GetUserResult>
          <ResponseMetadata>
            <RequestId>254c4f72-3f85-458b-8405-eb96e4480b61</RequestId>
          </ResponseMetadata>
        </GetUserResponse>
  recorded_at: 2023-12-07 00:00:07 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=ListUserPolicies&UserName=testUser2&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20231207T000005Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: 6ccbcc59-54fd-48f9-9ec2-6dd51826ba73
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <ListUserPoliciesResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListUserPoliciesResult>
            <IsTruncated>false</IsTruncated>
            <PolicyNames/>
          </ListUserPoliciesResult>
          <ResponseMetadata>
            <RequestId>6ccbcc59-54fd-48f9-9ec2-6dd51826ba73</RequestId>
          </ResponseMetadata>
        </ListUserPoliciesResponse>
  recorded_at: 2023-12-07 00:00:07 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=ListAttachedUserPolicies&UserName=testUser2&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20231207T000005Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: 86209ae5-d0fa-48a9-ae43-f16e2f574db8
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <ListAttachedUserPoliciesResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListAttachedUserPoliciesResult>
            <IsTruncated>false</IsTruncated>
            <AttachedPolicies>
              <member>
                <PolicyArn>arn:aws:iam::aws:policy/AWSCloudHSMReadOnlyAccess</PolicyArn>
                <PolicyName>AWSCloudHSMReadOnlyAccess</PolicyName>
              </member>
            </AttachedPolicies>
          </ListAttachedUserPoliciesResult>
          <ResponseMetadata>
            <RequestId>86209ae5-d0fa-48a9-ae43-f16e2f574db8</RequestId>
          </ResponseMetadata>
        </ListAttachedUserPoliciesResponse>
  recorded_at: 2023-12-07 00:00:07 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=ListGroupsForUser&UserName=testUser2&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20231207T000005Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: 8ceac547-3ba0-43f5-9398-0c4e7b481f40
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <ListGroupsForUserResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListGroupsForUserResult>
            <IsTruncated>false</IsTruncated>
            <Groups/>
          </ListGroupsForUserResult>
          <ResponseMetadata>
            <RequestId>8ceac547-3ba0-43f5-9398-0c4e7b481f40</RequestId>
          </ResponseMetadata>
        </ListGroupsForUserResponse>
  recorded_at: 2023-12-07 00:00:07 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
[...]
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=DetachUserPolicy&PolicyArn=arn%3Aaws%3Aiam%3A%3Aaws%3Apolicy%2FAWSCloudHSMReadOnlyAccess&UserName=testUser2&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20231207T000006Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: 4c5c5aa1-7647-4a40-9766-b4252155ed64
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <DetachUserPolicyResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ResponseMetadata>
            <RequestId>4c5c5aa1-7647-4a40-9766-b4252155ed64</RequestId>
          </ResponseMetadata>
        </DetachUserPolicyResponse>
  recorded_at: 2023-12-07 00:00:07 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
[...]
