http_interactions:
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: ''
      string: Action=CreatePolicy&PolicyDocument=%7B%22Version%22%3A%222012-10-17%22%2C%22Statement%22%3A%5B%7B%22Effect%22%3A%22Allow%22%2C%22Action%22%3A%5B%22s3%3AListAllMyBuckets%22%2C%22s3-object-lambda%3A%2A%22%5D%2C%22Resource%22%3A%22%2A%22%7D%5D%7D&PolicyName=MyTestPolicy&Version=2010-05-08
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240328T213333Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: 2db3983c-3c93-4d74-b295-efb2a58d3fe4
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <CreatePolicyResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <CreatePolicyResult>
            <Policy>
              <PermissionsBoundaryUsageCount>0</PermissionsBoundaryUsageCount>
              <Path>/</Path>
              <UpdateDate>2024-03-28T21:33:33Z</UpdateDate>
              <DefaultVersionId>v1</DefaultVersionId>
              <PolicyId>ANPA22PL7JXX5ZD7SKDYJ</PolicyId>
              <IsAttachable>true</IsAttachable>
              <PolicyName>MyTestPolicy</PolicyName>
              <AttachmentCount>0</AttachmentCount>
              <Arn>arn:aws:iam::744061095407:policy/MyTestPolicy</Arn>
              <CreateDate>2024-03-28T21:33:33Z</CreateDate>
            </Policy>
          </CreatePolicyResult>
          <ResponseMetadata>
            <RequestId>2db3983c-3c93-4d74-b295-efb2a58d3fe4</RequestId>
          </ResponseMetadata>
        </CreatePolicyResponse>
  recorded_at: 2024-03-28 21:33:33 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
