http_interactions:
- request:
    method: post
    uri: https://rds.<<aws_region>>.amazonaws.com/
    body:
      encoding: ''
      string: Action=DescribeDBInstances&Version=2014-10-31
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240401T195814Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: f19fd993-4108-4692-b977-ec509626104a
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: <DescribeDBInstancesResponse xmlns="http://rds.amazonaws.com/doc/2014-10-31/"><DescribeDBInstancesResult><DBInstances/></DescribeDBInstancesResult><ResponseMetadata><RequestId>f19fd993-4108-4692-b977-ec509626104a</RequestId></ResponseMetadata></DescribeDBInstancesResponse>
  recorded_at: 2024-04-01 19:58:14 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
