http_interactions:
- request:
    method: post
    uri: https://redshift.<<aws_region>>.amazonaws.com/
    body:
      encoding: ''
      string: Action=DescribeClusters&Version=2012-12-01
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20231211T213049Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: 6e2e8604-09d7-40c6-a282-0c2345789476
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <DescribeClustersResponse xmlns="http://redshift.amazonaws.com/doc/2012-12-01/">
          <DescribeClustersResult>
            <Clusters/>
          </DescribeClustersResult>
          <ResponseMetadata>
            <RequestId>6e2e8604-09d7-40c6-a282-0c2345789476</RequestId>
          </ResponseMetadata>
        </DescribeClustersResponse>
  recorded_at: 2023-12-11 21:30:49 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
