http_interactions:
- request:
    method: post
    uri: https://rds.<<aws_region>>.amazonaws.com/
    body:
      encoding: ''
      string: Action=DescribeDBInstances&Version=2014-10-31
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20231211T200106Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: ab39037f-cae7-41ae-af8a-fc528f61f2aa
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: <DescribeDBInstancesResponse xmlns="http://rds.amazonaws.com/doc/2014-10-31/"><DescribeDBInstancesResult><DBInstances/></DescribeDBInstancesResult><ResponseMetadata><RequestId>ab39037f-cae7-41ae-af8a-fc528f61f2aa</RequestId></ResponseMetadata></DescribeDBInstancesResponse>
  recorded_at: 2023-12-11 20:01:06 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
