http_interactions:
- request:
    method: post
    uri: https://rds.<<aws_region>>.amazonaws.com/
    body:
      encoding: ''
      string: Action=DescribeDBInstances&Version=2014-10-31
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20240402T165827Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-amzn-requestid: 22c6ae08-79b4-4912-829c-692a044bee7e
      content-type: text/xml
    body:
      encoding: ''
      file: no
      string: <DescribeDBInstancesResponse xmlns="http://rds.amazonaws.com/doc/2014-10-31/"><DescribeDBInstancesResult><DBInstances/></DescribeDBInstancesResult><ResponseMetadata><RequestId>22c6ae08-79b4-4912-829c-692a044bee7e</RequestId></ResponseMetadata></DescribeDBInstancesResponse>
  recorded_at: 2024-04-02 16:58:27 GMT
  recorded_with: vcr/1.2.2.91, webmockr/0.9.0
