http_interactions:
- request:
    method: post
    uri: https://rds.<<aws_region>>.amazonaws.com/
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date: 20250214T002458Z
      Authorization: redacted
  response:
    status:
      status_code: 200
      message: OK
    headers:
      x-amzn-RequestId: a5228307-2f21-476b-a614-edbe051b9315
      Content-Type: text/xml
    body:
      encoding: ''
      file: no
      string: |
        <DescribeDBInstancesResponse xmlns="http://rds.amazonaws.com/doc/2014-10-31/">
          <DescribeDBInstancesResult>
            <DBInstances/>
          </DescribeDBInstancesResult>
          <ResponseMetadata>
            <RequestId>a5228307-2f21-476b-a614-edbe051b9315</RequestId>
          </ResponseMetadata>
        </DescribeDBInstancesResponse>
  recorded_at: 2025-02-14 00:24:58 GMT
  recorded_with: vcr/1.6.0, webmockr/2.0.0
